.colorFooter{
    background-color:rgb(6, 52, 55);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.bgColorGris{
    background-color: rgb(52, 58, 64);
}

.justificadoFinal{
    display:flex;
    justify-content: flex-end;
    width: 100%;
}
.ancho{
    width: 50%;
    margin:0 auto;
}
.brilloAlaMitad{
    filter: brightness(50%);
}
.header__flex{
background-color:rgb(52, 58, 64);
display: flex;
justify-content:center;

}
.logo{
display:flex;
align-items: center;
width:50%;
padding-left:2rem;
}
.img__logo{
width:20%;

}
.navegador{
color:white;
width:50%;
display: flex;
align-items: center;
justify-content:space-between;
}
.link{
text-decoration: none;
color: white;
font-size: 1rem;
}
.imagenMain{
width:100%;
}
/*pantalla divida*/
.sectionDividida{
display: flex;
height:70vh;
}
.imagenIzq{
height:100%;
width:50%;
background-image: url("./assets/imagenes/floralis.jpg");
background-size: cover;
}
.rowImagen{
height:70vh;
}
.alto{
height:100%;
}
.imagen{
background-image: url("./assets/imagenes/floralis.jpg");
background-size: cover;
}
.contenido{
padding:2rem ;
background-color: #808080;
color:white;
font-size: 1.5rem;
/*
display: flex;
flex-direction: column;
align-items: flex-start;*/
}
.contenidoDer{
height:100%;
width:50%;
padding:2rem ;
background-color: #343333;
color:white;
font-size: 1.5rem;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.sectionTarjetas{
display:flex;
flex-direction: column;
align-items: center;
}
.padreTarjetas{
width:100%;
display: flex;
justify-content: center;
align-items: center;
}
.tarjetas__flex{
width:80%;
display:flex;

justify-content:space-between;

}
.tarjeta{
background-color: white;
width: 30%;
border:1px solid rgb(214, 214, 214);
border-radius: 10px;

}
.tarjetaImagen{
width: 100%;
border-radius: 10px;
}
.tarjetaContenido{
padding:1rem;
}
.tarjetaParrafo{
width:80%;
}
.sectionPrincipal{
background-image: linear-gradient(to right,rgb(0 0 0 /.5),rgb(0 0 0 /.5)), url("./assets/imagenes/ba1.jpg");
height:100vh;
width: 100%;
display: flex;
justify-content:flex-end;
align-items:center;
}
.filtro{
    background-image: linear-gradient(to right,rgb(0 0 0 /.5),rgb(0 0 0 /.5)); 
    width: 100%;
    height:100%;
}
.prioridad{
    z-index:10;
}
.posicionamiento{
    top:50%;
    left:50%;
}
.contenidoPrincipal{
width: 60%;
text-align: right;
color:white;
}
@media screen and (max-width: 900px){
.header__flex{
    flex-direction:column;
    color:white;
}
.logo{
    width:100%;
    justify-content:space-between;
    padding-left:0;
}
.navegador{
    width:100%;
    flex-direction: column;
    padding-right:initial;
    color:white; /*color letras header corregir, esto no toma*/
}
.link{
    display:inline-block;
    padding:1rem;
    border-bottom: 1px solid white;
    width:100%;
    color:white; /*corregir color link a white*/
}
/*seccion principal- parrafo*/
.sectionPrincipal{
    justify-content:center;
}
.parrafoPrincipal{
    line-height:1.5rem;
}
.contenidoPrincipal{
    width: 80%;
    text-align: center;
    backdrop-filter: blur(5px);
    padding-right: 20px;/*corregir separación de borde right*/
}
h1{
    font-size: 2rem;
    margin-bottom:0.6rem;
}
/*seccion tarjetas*/
.tarjetas__flex{
    flex-direction: column;
}
.tarjeta{
    width: 100%;
    margin-bottom:1rem;
    box-shadow: -7px -7px 50px 6px rgba(0,0,0,0.54);
    -webkit-box-shadow: -7px -7px 50px 6px rgba(0,0,0,0.54);
    -moz-box-shadow: -7px -7px 50px 6px rgba(0,0,0,0.54);
}
.sectionDividida{
    flex-direction: column;
}
.imagenIzq{
    width:100%;
}
.contenidoDer{
    width:100%;
}
.alto{
    height:50%;
}
.contenido{
    font-size: 1rem;
}

.ancho{
    width: 80%;
 
}

.posicionamiento{
    top:20%;
    left:20%;
    right:20%;
    bottom:20%;
        
    font-size: 0.8rem;
}



}